@model IEnumerable<kiwi.Models.Accomodation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @*<link href="~/Content/assets/css/neon.css" rel="stylesheet" />*@
    @*<link href="~/Content/assets/css/neon-core.css" rel="stylesheet" />*@
    @*<link href="~/Content/assets/css/neon-theme.css" rel="stylesheet" />*@
    <link href="~/Content/assets/css/neon-theme-edited.css" rel="stylesheet" />
    @*<link href="~/Content/assets/css/neon-rtl.css" rel="stylesheet" />*@
    @*<link href="~/Content/css/styles.css" rel="stylesheet" />*@
    <link href="~/Content/assets/css/font-icons/entypo/css/entypo.css" rel="stylesheet" />
    <!-- Favicon  -->
    <link href="~/Content/css/Custom.css" rel="stylesheet" />

    <link rel="icon" href="images/favicon.png">
    @*style{
                a {
                color: #ffffff;
                }
        }*@
</head>
<body style="background: url('../Content/images/details-1-background.jpg') no-repeat fixed;
        background-size: cover;" data-spy="scroll" data-target=".fixed-top">

    <h2 style="color:antiquewhite">Accomodations</h2>

    <div style="margin-top: 65px">
        @foreach (var item in Model)
        {
            <div class="member-entry grow">
                <a href="@item.AccomodationLink" class="member-img"> <img src="~/Content/images/Accomodation/@item.AccomodationImage" class="img-rounded"> <i class="entypo-forward"></i> </a>
                <div class="member-details">
                    <h4 style="color: #ffffff;"> <a href="@item.AccomodationLink"> @item.AccomodationName</a> </h4>
                    <div class="row info-list">
                        <div style="color:aliceblue" class="col-sm-4">
                            <i class="entypo-briefcase"></i>
                            Location <a href="#">@item.Location</a>
                        </div>
                        <div style="color:aliceblue" class="col-sm-4">
                            <i class="entypo-phone"></i>@item.AccomodationPhone <a href="#"></a>
                        </div>
                        @*<div style="color:lightskyblue" class="col-sm-4">
                            <i class="enty"></i> <a href="#">fb.me/johnnie</a>
                        </div>*@
                        <div class="clear">
                        </div>
                        <div style="color:aliceblue" class="col-sm-4">
                            <i class="entypo-location"></i>Address <a href="#">@item.AccomodationAddress</a>
                        </div>
                        <div style="color:darkred" class="col-sm-4">
                            <i class="entypo-mail"></i> Email <a href="#">@item.AccomodationEmail</a>
                        </div>
                        <div style="color:aliceblue" class="col-sm-4">
                           @* <i class="entypo-linkedin"></i> <a href="#">johnkennedy</a>*@
                        </div>
                        <div style="color:aliceblue" class="col-sm-12">
                            @* <i class="entypo-linkedin"></i>*@ Description:@*<a href="#">johnkennedy</a>*@
                             @item.Description
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>


