@model IEnumerable<kiwi.Models.EducationalInstitution>

@{
    ViewBag.Title = "KiwiLand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
<h2 style="color:antiquewhite"> Institutions </h2>
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">*@
    <link href="~/Content/assets/css/neon-theme-edited.css" rel="stylesheet" />
    @*<link href="~/Content/assets/css/neon-rtl.css" rel="stylesheet" />*@
    @*<link href="~/Content/css/styles.css" rel="stylesheet" />*@
    <link href="~/Content/assets/css/font-icons/entypo/css/entypo.css" rel="stylesheet" />


    <link href="~/Content/css/Custom.css" rel="stylesheet" />
    <title>Institutions</title>
</head>
<body style="background: url('../Content/images/details-1-background.jpg') no-repeat fixed; background-size: cover;">
    @foreach (var item in Model)
    {
        <div class="member-entry grow">
            <a href="@item.Link" class="member-img"> <img src="~/Content/images/Accomodation/@item.InstituionImage" class="img-rounded"> <i class="entypo-forward"></i> </a>
            <div class="member-details">
                <h4 style="color: #ffffff;"> <a href="@item.Link">@item.InstitutionName</a> </h4>
                <div class="row info-list">
                    <div style="color:aliceblue" class="col-sm-4">
                        <i class="entypo-briefcase"></i>
                        <a href="#">Location: @item.Location</a>
                    </div>
                    <div style="color:aqua" class="col-sm-4">
                        @*<i class="entypo-twitter"></i> <a href="#"></a>*@
                    </div>
                    <div style="color:lightskyblue" class="col-sm-4">
                        @*<i class="entypo-facebook"></i> <a href="#">fb.me/johnnie</a>*@
                    </div>
                    <div class="clear">
                    </div>
                    <div style="color:aliceblue" class="col-sm-4">
                        Address:<i class="entypo-location"></i> @item.Address
                    </div>
                    <div style="color:darkred" class="col-sm-4">
                       <i class="entypo-phone"></i> Phone: @item.Phone
                    </div>
                    <div style="color:Highlight" class="col-sm-4">
                        @* <i class="entypo-linkedin"></i> <a href="#">johnkennedy</a>*@
                    </div>
                    <div style="color:Highlight" class="col-sm-12">
                        @*<i class="entypo-database"></i>Description: @item.Description*@
                    </div>
                </div>
            </div>
        </div>
    }

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>*@
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>*@
</body>
</html>
